* {
  padding-top: 0%;
}

#body_loggin{
  background: #3E3F41;
}
.container-fluid{ 
}
.btn {
  background-color: #F6A800;
  text-align: center;
  width: 100%;
}

#logo_login {
  width: 50%;
  text-align: center;
  padding-top: 10%;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h2 {
  text-align: center;
  color: #F6A800;
  padding: 10px;
}

small {
  text-align: center;
  color:white;
  padding: 10px;
}

#grupo_botones {
  padding: 30% 3%;
  margin: 10px 2px;
}
.body_celeste{
  background: #DDDEE0;
}

.usuario_img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
  margin-top: 10%;
  background-color: #F6A800;
}


.container_profile {
  background-color: #F6A800;
  margin: 0;
  padding: 0%;
}

.relleno {
  padding: 10%

}

.margen {
  margin: 8%;
}